
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using X.PagedList
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<forum.Models.Account>

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">All Member</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a asp-controller="homeadmin" asp-action="index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__separator"></li>
                <li class="m-nav__item">
                    <a asp-controller="homeadmin" asp-action="member" class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-users-1"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>

        </div>
    </div>
</div>

<div class="m-content">

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Member
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">

                    </li>

                </ul>
            </div>
        </div>
        <div class="m-portlet__body">

            <!--begin: Datatable -->
            <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        @using (@Html.BeginForm("Member", "Homeadmin", FormMethod.Get))
                        {
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-4">

                                    <div class="m-input-icon m-input-icon--left">
                                        @Html.TextBox("Search", null, new { @class = "form-control m-input", @placeholder = "Search...", id = "generalSearch" })
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>

                                    </div>



                                </div>
                                <input type="submit" value="Search" />
                            </div>}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer" id="m_table_1" aria-describedby="m_table_1_info" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Record ID: activate to sort column descending" style="width: 46.25px;">STT</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Record ID: activate to sort column descending" style="width: 46.25px;">FullName </t>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending" style="width: 68.25px;">Moblie</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" aria-label="Ship City: activate to sort column ascending" style="width: 95.25px;">Adress</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" aria-label="Ship Address: activate to sort column ascending" style="width: 113.25px;">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" aria-label="Company Agent: activate to sort column ascending" style="width: 88.25px;">UserName</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" aria-label="Ship Date: activate to sort column ascending" style="width: 42.25px;">Birthday</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 55.25px;">Gender</th>
                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 69.5px;">Options</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ int stt = 0;
                                    foreach (var item in Model)
                                    {
                                        stt = stt + 1;
                                        <tr role="row" class="odd">
                                            <td>@stt</td>
                                            <td hidden="@item.Id"></td>
                                            <td>@item.FullName</td>
                                            <td>@item.Mobile</td>
                                            <td>@item.Address</td>
                                            <td>@item.Email</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Birthday</td>
                                            <td><span class="m-badge  m-badge--primary m-badge--wide">@item.Gender </span></td>

                                            <td nowrap="">
                                                <span class="dropdown">
                                                    <a href="@Url.Action("DeleteMember","Homeadmin", new {id = item.Id})" onclick="return confirm('Are you sure Delete?')" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
                                                        <i class="la la-trash"></i>
                                                    </a>
                                                </span>

                                            </td>
                                        </tr>
                                    } }

                            </tbody>
                        </table>
                    </div>
                </div><div class="row">
                    <div class="col-sm-12 col-md-4"></div>
                    <div class="col-sm-12 col-md-8">
                        <div class="dataTables_paginate paging_simple_numbers">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Member", new { i = page }), new X.PagedList.Web.Common.PagedListRenderOptions()
                           {
                               LiElementClasses = new[] { "page-item" },
                               PageClasses = new[] { "page-link" }
                           })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END EXAMPLE TABLE PORTLET-->
</div>
